<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <eventing defaultProvider="sitecore">
      <providers>      
        <!--
          Custom event provider designed to publish system events to multiple web databases to remove the need .
          General attributes:
            name: Name of the provider.
            type: Assembly qualified type name of the class implementing the provider.
          Event provider attributes:
            systemDatabaseNames: Name of the databases which will hold the system event queue.
          System event queue receives all the events that are not related to a specific database.
        -->
        <add name="sitecore" type="EventQueueTargets.Common.Eventing.EventProvider, EventQueueTargets.Common" systemDatabaseNames="web|web2" patch:instead="*[@name='sitecore']" />
      </providers>
    </eventing>
  </sitecore>
</configuration>